body, html {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #001920;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.box {
    border: 1.5px solid #4BD8FF;
    border-radius: 19px;
    padding: 20px;
    width: 300px;
    margin: 20px;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(to top, #0f3d4b8c 50%, #0f3d4b8c 50%);
}

.box h2{
    color:#4BD8FF;
    font-family: "Times New Roman";
}

#solution-box {
    height: 200px; /* Adjust as needed */
    overflow-y: auto; /* Enable scrolling if content exceeds height */
}

textarea, input[type="file"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    color:#4BD8FF;
    font-family: "Times New Roman";
}

button {
    padding: 10px 20px;
    background-color: #001920;
    color: white;
    border: 1.5px solid #4BD8FF;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Times New Roman";
}

button:hover {
    background-color: #4BD8FF;
}

#solutions {
    width: 100%;
}