body, html {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #001920;
}
 
 /* Container styles */
 .study-material-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #001920;
}

/* Search styles */
.search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1.5px solid #4BD8FF;
    border-radius: 5px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    border: 1px solid #4BD8FF;
    border-radius: 5px;
    background-color: #001920;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    color: #f9f9f9;
}

.search-container button:hover {
    background-color:#4BD8FF;
}

/* Options container styles */
.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Option card styles */
.option-card {
    width: 250px;
    margin: 20px;
    padding: 20px;
    border: 1.5px solid #4BD8FF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to top, #0f3d4b8c 50%, #0f3d4b8c 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.option-card h3 {
    margin: 10px 0;
    font-size: 20px;
    color:#4BD8FF;
  font-family: "Times New Roman";
}

.option-card a {
    margin: 10px 0;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}

.option-card a:hover{
    color: #4BD8FF;
}

.option-card>img{
    height: 170px;

}

.img1{
 width: 250px;
}